<!DOCTYPE html>

<html>
<head>
	<title>Achievement</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrapTest.css" rel="stylesheet">
	<link href="css/achievement.css" rel="stylesheet">
	<link href="css/levelbtn.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">
	<link href="css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">


</head>


<body>
	<header>
  			<button class="hamburger">&#9776;</button>
  			<button class="cross">&#735;</button>
  			<p class="myButton">{{levelName}}</p>
	</header>

	<div class="menu">
 	 <ul>
    	<a href="/question"><li>Questions</li></a>
    	<a href="/achievement"><li>Achievement</li></a>
    	<a href="/learnmore"><li>Learn More</li></a>
    	<a href="/"><li>Log out</li></a>
  	</ul>
	</div>
	
		{{> popup}}
	<div class="container">
		<div class="jumbotron" style="color:white">
			<h2>Badges Earned</h2>
		</div>
	<hr>

	<div id="headingDiv">
		<!-- <h3 >Badges Earned: 
			<h5 style="color:green">[one per level]</h5>
		</h3> -->
	</div>

	<div id="imgDiv">
		{{#each unlockedPoses}}
		<div class="row">
			<div class="col-xs-4" >
				<h4 style="text-align:center"> {{badgeLv}} </h4> 
			</div>

			<div class="col-xs-8" style="text-align:center">
				<a href="/{{badgeID}}" id="{{badgeNumber}}"> <img src="{{imgsrc}}" alt="" > </a>
				<div class="badgeBtn">
					<a href="/{{badgeID}}" class="btn btn-primary btn-sm" style="font-size:17px">{{badgename}}</a>
				</div>
			</div>


		</div>
		<hr>
		{{/each}}
	</div>



	<div id="headingDiv">
		<div class="jumbotron" style="color:white">
			<h2 style="margin-bottom:4px">Response History</h2>
			<h4 style="padding:25px; padding-top:0px; padding-bottom:5px; margin-top:0px"> listen to previous responses and view self-evaluations</h4>
		</div>
	</div>
		<div class="questionBox">
		<ul>
			{{#each answeredQuestion}}
			<div class="availableQuestion">
				<a href="/evalsHistory?id={{id}}">
				<li><button>{{question}}</button></li>
				</a>
			</div>
			{{/each}}
		</ul>

	</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
  
</body>

</html>
