<!doctype html>

<html>
<head>
	<title>Career Goal2</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrapTest.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">
	<link href="css/levelbtn.css" rel="stylesheet">
	<link href="css/careergoal.css" rel="stylesheet">
	<link href="css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
 
</head>

<body>

	<header>
  		<button id="top" class="hamburger">&#9776;</button>
  		<button class="cross">&#735;</button>
	</header>

	<div class="menu">
 	 <ul>
    	<a href="/question"><li><i class="fa fa-list-ol fa-2x" style="margin-right: 3%"></i>Questions</li></a>
    	<a href="/achievement"><li><i class="fa fa-trophy fa-2x" style="margin-right: 3%"></i>Achievement</li></a>
    	<a href="/responseHistory"><li><i class="fa fa-check-square fa-2x" style="margin-right: 3%"></i>Response History</li></a>
    	<a href="/learnmore"><li><i class="fa fa-question fa-2x" style="margin-right: 3%"></i>Learn More</li></a>
    	<a href="/"><li><i class="fa fa-sign-out fa-2x" style="margin-right: 3%"></i>Log out</li></a>
  	</ul>
	</div>


	<div class="header" style="padding-top:1%; margin:auto; text-align:center">
	   <img src="/images/PrepS.jpg" style="align:middle; width: 90%; margin-top:20px">
	   <hr style="margin-bottom:10px; margin-top:0px">
	   <h3>
	  	 To closely simulate a <span style="color:#f1982f">real interview experience</span>, specify your desired career position and organization/company.
	   </h3>
	   <div id="line">
	   	<hr style="margin-bottom:10px; margin-top:10px">
	   </div>
	   <!-- <img src="/images/interview1.jpg" style="align:middle; width: 80%; margin-top:0px"> -->
		
<form {{#if backToAchievement}}action="/achievement" {{else}}action="/question" {{/if}}>
	<div class="careerinput">
		<div class="form-group">
		  <label class="control-label" for="inputDefault" id ="careerB1" style="font-size:18px; float:left">Career Position 
		  {{#if backToAchievement}}{{else}}
		  <font color="red">*</font> {{/if}}

		  </label>
		  <input class="form-control" type="text" id="inputDefault1" name="inputDefault1" placeholder="e.g. Software Engineer" {{#if backToAchievement}}{{else}}required{{/if}}>
		</div>

		<div class="form-group">
		  <label class="control-label" for="inputDefault" id ="careerB2" style="font-size:18px; float:left">Organizations/Companies

		  {{#if backToAchievement}}{{else}}
		  <font color="red">*</font> {{/if}}

		  </label>
		  <input class="form-control" type="text" id="inputDefault2" name="inputDefault2" placeholder= "e.g. Facebook, Bank of America" {{#if backToAchievement}}{{else}}required{{/if}}></br>

		  {{#if backToAchievement}}
		  {{else}}
		  <label style="font-size:11px; float:left; color:red">* required</label></br>
		  {{/if}}
		</div>
	</div>

		
		<button type="button" class="btn btn-primary" {{#if backToAchievement}}id="saveBtn"{{else}}id="toQuestion"{{/if}} >
	        <a>
				<input type="submit" {{#if backToAchievement}}value= "Save" {{else}}value="Let's Begin"{{/if}} style="background-color:transparent; border:none; {{#if backToAchievement}}{{else}}text-align:center{{/if}}" >
			</a>
     	</button>

     	{{#if backToAchievement}}
     	<button type="button" class="btn btn-primary" id="cancelBtn" >
     		<a>
			<input type="submit" value= "Cancel" style="background-color:transparent; border:none" name="cancelClicked">
			</a>
		</button>
		{{/if}}

</form>

<!-- 	<div class="nextbutton">
		<button type="button" class="btn btn-primary" id="toQuestion" >
         <a href="/question" >
          Let's Begin
         </a>
     	</button>
	</div>
 -->
  
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>

</html>
