<!doctype html>

<html>
<head>
	<title>Evals History</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/evalshistory.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->  
</head>

<body>

	<header>
  			<button class="hamburger">&#9776;</button>
  			<button class="cross">&#735;</button>
	</header>

	<div class="menu">
 	 <ul>
   		<a href="/"><li>Home</li></a>
    	<a href="/achievement"><li>Achievement</li></a>
    	<a href="/question"><li>Questions</li></a>
    	<a href="/login"><li>Log out</li></a>
  	</ul>
	</div>

	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1 style="color:shadow;"><b>Self-Evals History</b></h1>
		</div>	

		{{#each history}}
		<div class= {{id}}>
      		<h2>{{position}}</h2>
        	<h4>Checked Items:</h4>
        	<ul>
        		<li> {{cItem1}} </li>
        		<li> {{cItem2}} </li>
        	</ul>
        	<h4>Missing Items:</h4>
        	<ul>
        		<li> {{uItem1}} </li>
        		<li> {{uItem2}} </li>
        	</ul>

    	</div>
		{{/each}}

	</div>

  
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/evalshistory.js"></script>
</body>

</html>
