<!doctype html>

<html>
<head>
	<title>Question Evaluation</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrapTest.css" rel="stylesheet">
	<link href="css/evaluation.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">

</head>

<body>

	<header>
  			<button class="hamburger">&#9776;</button>
  			<button class="cross">&#735;</button>
  			<p class="myButton">{{levelName}}</p>

	</header>

	<div class="menu">
 	 <ul>
   		<a href="/"><li>Home</li></a>
    	<a href="/achievement"><li>Achievement</li></a>
    	<a href="/question"><li>Questions</li></a>
    	<a href="/"><li>Log out</li></a>
  	</ul>
	</div>

	<h4 class= "questionBox"><b>Current Question:</b> {{questionSelected}}</h4>


<div class="pageTitle">
	<h2> Self-Evaluation</h2>
	<h4> Evaluate the quality of your response. How well did you convey the following: </h4>
	</div>



	<div class="evaluationBox">

		<div class="columnHeadings">
			<div class="row" >
				<div class="col-xs-6"> </div>
				<div class="col-xs-2">
					<p style="margin-top:50px" align="center"> Poor</p>
				</div>
				<div class="col-xs-2">
					<p style="margin-top:50px" align="center"> Okay</p>
				</div>
				<div class="col-xs-2">
					<p style="margin-top:50px" align="center"> Great</p>
				</div>
<!-- 		<div class="col-xs-1"> </div> -->
			</div> <!-- end row -->
		</div> <!-- end column headings -->

		{{#each evalBox}}
		<div class="row" id="eachRow">

			<div class="col-xs-6">
				<p> {{text}} </p>
			</div>

			<div class="col-xs-2" align="center">
				<label class="radio-inline">
			  		<input type="radio" name="inlineRadioOptions{{evalID}}" id="inlineRadio1" value="option1"> </label>
			 </div>

			<div class="col-xs-2" align="center">
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions{{evalID}}" id="inlineRadio2" value="option2"> </label>
		  	</div>

			<div class="col-xs-2" align="center">
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions{{evalID}}" id="inlineRadio3" value="option3"> </label>
			</div>

		</div>	<!-- end row -->
		{{/each}}
	</div>




     <button type="button" class="btn btn-primary" id="donebutton"style=" float:right">
    	<a href="/feedback?q={{questionSelected}}&id={{id}}">
    	Continue
	    </a>
    </button>

   </div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>

</html>
