<!doctype html>

<html>
<head>
	<title>Question Evaluation</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrapTest.css" rel="stylesheet">
	<link href="css/feedback.css" rel="stylesheet">
	<link href="css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
	<link href="css/feedback.css" rel="stylesheet">
	<link href="css/levelbtn.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">


</head>

<body>

	<header>
  			<button class="hamburger">&#9776;</button>
  			<button class="cross">&#735;</button>
  	  		<p class="myButton">{{levelName}}</p>

	</header>

	<div class="menu">
 	 <ul>
    	<a href="/question"><li>Questions</li></a>
    	<a href="/question"><li>Achievement</li></a>
    	<a href="/learnmore"><li>Learn More</li></a>
    	<a href="/"><li>Log out</li></a>
  	</ul>
	</div>
<!-- 

<h4 class= "questionBox"><b>Current Question:</b> {{originalQuestion}} </h4> -->

<div class="feedbackBox">

	<h2 class = "feedbackTitle"> Great work! Here are some notes to help improve your response. </h2>

	{{> popup}}

	<h3 style="margin-top:40px"> {{Notes}} </h3>

	<h4 style="margin-top:12%;color:gray"> *Important: To earn a Badge and LEVEL UP, answer all available questions.</h4>

    <button type="button" class="btn btn-primary" style="float:right" id="backToQuestion">
    	<a href="/question?q={{originalQuestion}}&id={{id}}">
    	Back to Questions 
	    </a>
    </button>
</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>

</html>
