<!DOCTYPE html>

<html>
<head>
	<title>PrepS Questions</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrapTest.css" rel="stylesheet">
	<link href="css/question.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">
	<link href="css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">

</head>

<body>
	<header>
  		<button id="top" class="hamburger">&#9776;</button>
  		<button class="cross">&#735;</button>
  		<a class="myButton">Level 1: Stiffy</a>
	</header>


	<div class="menu">
 	 <ul>
   		<a href="/"><li>Home</li></a>
    	<a href="/achievement"><li>Achievement</li></a>
    	<a href="/learnmore"><li>Learn More</li></a>
    	<a href="/"><li>Log out</li></a>
  	</ul>
	</div>

	<div class= "container">
	<div class="jumbotron">
			<h1 class="headingText">Questions</h1>
	</div>


	<div id="overlay"></div>
	<div id="popupBox">
		<div id="popupContent"><i><b>Level Names:</b></i><br/>
	        <span style="text-align:center;color:black;font-size:10px;">
	        <p><font size="3">Level 1: Stiffy</font></p>
			<p><font size="3">Level 2: Novice</font><p>
			<p><font size="3">Level 3: Achiever</font></p>
			<p><font size="3">Level 4: Master</font></p>
			<p><font size="3">Level 5: Legendary</font></p><br/>
			<p id= "lvlP"><i><font size="3">*Each level represents your current ability stage to succeed in interviews.</font></i></p>
	        </span><br/>
	    <button class="cancel">Close</button>
	    </div>
    </div>

<div class="bodyContainer">
	<h2 style= "color:orange"> Select a question to begin. </h2>
	<div class="unlockedquestionBox">
		<ul>
			{{#each questionText}}

				<div class="availableQuestion" id="{{id}}">
			
					<a href="/recording?q={{question}}">
						<li><button class = "questionButton" id="{{id}}">{{question}}</button></li>
					</a>
				</div>

			
			{{/each}}
		</ul>
	</div>


	<div class="lockedquestionBox">
		<ul>

			{{#each lockedQuestionText}}

				<div class="lockedQuestion" id="{{id}}">
					<li><i class="fa fa-lock fa-2x" style="padding-left:2%" ><button><p class = "lockedMsg">Answer previous questions to unlock</p></button></i></li>
				</div>
			{{/each}}
		</ul>
	</div>

</div>
  
</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
	
</body>

</html>
