<!DOCTYPE html>
<html>
<head>
	<title>PrepS Questions</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrapTest.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/hamburgerbar.css">
	<link href="css/levelbtn.css" rel="stylesheet">
	<link href="css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
		<link href="css/question.css" rel="stylesheet">

</head>

<body>
	<header>
  		<button id="top" class="hamburger">&#9776;</button>
  		<button class="cross">&#735;</button>
  		<p class="myButton">{{levelName}}</p>
	</header>

	{{> popup}}
	{{#if levelUp}}
	{{> levelUp}}
	{{/if}}


	<div class="menu">
 	 <ul>
    	<a href="/question"><li>Questions</li></a>
    	<a href="/achievement"><li>Achievement</li></a>
    	<a href="/learnmore"><li>Learn More</li></a>
    	<a href="/"><li>Log out</li></a>
  	</ul>
	</div>


	<div class= "container">
	<div class="jumbotron" style="color:white">
			<h2 class="headingText" >Questions</h2>
			<h4 style="margin-top:0px" > Select a question to begin. </h>
	</div>
	

<div class="bodyContainer">

	<div class="unlockedquestionBox">
		<ul>
			
			{{#each questionText}}
			<div class="oneRow" style="margin:16px">
			<div class="row">
				<a href="/recording?q={{question}}&id={{id}}">
					<div class="col-xs-10" style="padding-right:0px; padding-top:0px; margin:0px">
						<div class="availableQuestion" id="{{id}}">
					
							
								<li><button class = "questionButton" id="{{id}}">
								{{#if answered}}<i class="fa fa-check" style="color:#269900">{{/if}}
								{{nquestion}}</i> </button></li>


							

						</div>
					</div>
					<div class="col-xs-2" style="padding-left:0px; padding-top:60px">
						<i class="fa fa-chevron-right" style="color:black"></i>
					</div>

					</a>
			</div>	
			</div>
			{{/each}}
			
		</ul>
	</div>




	<div class="lockedquestionBox">
		<ul>

			{{#each lockedQuestionText}}

				<div class="lockedQuestion" id="{{id}}" style="margin:16px">
					<li><i class="fa fa-lock fa-2x" style="padding-left:4%; padding-top:4%" ><button><p class = "lockedMsg">Answer previous questions to unlock</p></button></i></li>
				</div>
			{{/each}}
		</ul>
	</div>

</div>
  
</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
	<script>

	$('#overlay2').fadeIn('slow');
	$('#popupBox2').fadeIn('slow');
	$('#popupContent2').fadeIn('slow');

	$('#overlay2, .cancel2').click(function () {
		$('#overlay2').fadeOut('slow');
		$('#popupBox2').fadeOut('slow');
		$('#popupContent2').fadeOut('slow');    
	});

	</script>

	
</body>

</html>
