<!DOCTYPE html>

<html>
<head>
	<title>Recording</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrapTest.css" rel="stylesheet">
	<link href="css/recording.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/hamburgerbar.css">
	<link href="css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">

</head>

<body>

	<header>
  		<button class="hamburger">&#9776;</button>
  		<button class="cross">&#735;</button>
  		<p class="myButton">{{levelName}}</p>
	</header>

	<div class="menu">
 		<ul>
	   		<a href="/"><li>Home</li></a>
	    	<a href="/achievement"><li>Achievement</li></a>
	    	<a href="/question"><li>Questions</li></a>
	    	<a href="/login"><li>Log out</li></a>
  		</ul>
	</div>


	<div class= "container">
		<div class="jumbotron">
			<h1>Current Question</h1>
		</div>
	
		<div class="unlockedquestionBox">
		<ul>
			<div class="availableQuestion" id="{{id}}">
				<p>{{questionChosen}}</p>
			</div>
		</ul>
		</div>

		<iframe src="http://vocaroo.com/?minimal" width="500" height="200" frameborder="0"></iframe><br>

		<div class="button">
	      	<a href = "/evaluation?q={{questionChosen}}&id={{id}}" >
	          <button class="btn btn-primary" id="recDone">Done Recording</button> 
	      	</a>
      	</div>
  
      </div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>

</body>

</html>
